.sidebar-mobile{
    display: none;
}

.display-show{
    display: block;
}
  
  @media only screen and (max-width: 1024px) {
      .sidebar-desktop{
          display: none;
      }
      .sidebar-mobile{
          display: none;
      }
}