.list-btn{
  transition: all 500ms ease-in-out;
}

.active{
  transition: all 500ms ease-in-out;
  opacity: 1;
  height: auto;
  
}
.inactive{
    transition: all 500ms ease-in-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

@media only screen and (max-width: 1024px) {
    .sidebar{
    opacity: 0;
    height: 0;
    overflow: hidden;
    }
  }