a{
    text-decoration: none;
    color: black;
    padding: 15px;
}
a::before{
    content: "🏠 ";
}
a:hover{
    text-decoration: underline;
}

.hp-btn{
    border-bottom: 1px solid black;
    text-align: center;
    padding: 15px;
    font-family: 'Arial Rounded MT', Arial, Helvetica, sans-serif;
}