a{
    text-decoration: none;
    color: black;
    
}
a::before{
    content: "🏠 ";
}
a:hover{
    text-decoration: underline;
}

.hp-btn{
    text-align: center;
    padding: 15px;
    font-family: 'Arial Rounded MT', Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 1024px) {
    .hp-btn{
        font-size: 25px;
        height: 58px;
        padding-top: 15px;
    }
  }